describe('{{camelize name}} directive', function() {
  var element;
  var scope;
  var template = '<div></div>';

  beforeEach(function() {
    module('app.directives');
    inject(function($rootScope, $compile) {
      scope = $rootScope.$new();
      element = $compile(template)(scope);
      scope.$digest();
    });
  });

  it('', function() {

  });
});
